<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/tiw</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>  <!-- nome utente del database -->
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>francesco</param-value> <!-- password del database -->
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbImages</param-name>
    <param-value>/Users/francescorivitti//Desktop/tiw/images</param-value> <!-- path della cartella immagini -->
  </context-param>
</web-app>
